@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

main {
    padding: 4rem;
}
.title {
    text-align: center;
    padding-top: 20px;
    font-family: 'Quicksand';
    font-weight: 1000;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.background {
    background: url(../bilder/black_and_white.jpg);
    background-position: top;
    max-width: 100%;
}

img {
  width: 300px;

}
img:nth-child(odd) {
  order: 1;
}
img:nth-child(even) {
  order: 3;
}
.text {
  order: 2;
}
blockquote{
  font-size: 1.2em;
  width:40%;
  margin:50px;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDEDbb;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.grid {
  display: grid;
  grid-gap: 40px;
  width: 100%;
  margin: auto;
}
.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flex:nth-child(even) {
  justify-content: flex-end;
}

@media screen and (max-width: 950px) {
  .flex {
    flex-direction: column;
  }
  .flex:nth-child(even) {
    flex-direction: column-reverse;
  }
  blockquote {
    width: 60%;
  }
}
@media screen and (max-width: 710px) {
  
}
@media screen and (max-width: 630px) {
  .text {
    font-size: 1rem;
  }
  main {
    padding: .1rem;
  }
}
@media screen and (max-width: 450px) {
  blockquote {
    padding: 1.2em 30px 1.2em 55px;
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  img {
    width: 200px;
  }
}
@media screen and (max-width: 350px) {
  .text {
    font-size: .8rem;
  }
}