@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-image: url(../bilder/fall_cut2.jpeg);
    background-position: top;
    text-align: center;
    color: #FEEFC8;
    font-family: 'Quicksand';
    font-weight: 1000;
}

.container {
    height: 40rem;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header h1 {
    font-size: 60px;
}

header h2 {
    font-size: 20px;
}

header h1,
header h2 {
    margin: auto;
    vertical-align: middle;
    text-shadow: #000 5px 5px 9px;
}



nav {
    padding: .1rem 0 2rem 0;
    background: rgb(153, 101, 60);
    background: linear-gradient(45deg, rgba(153, 101, 60, 0.5270483193277311) 66%, rgba(208, 134, 77, 0) 100%);
}



nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 2rem;
    list-style: none;
    gap: 1rem;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    transition: .3s ease-out;
    text-align: center;
    text-shadow: #ffffff 1px 1px 2px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #ffffe4;
    font-size: 1.6rem;

}

.current-link {
    color: #FEEFC8;
    text-decoration: underline;
    text-shadow: none;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: transparent;
    background-color: transparent;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    transition: all 500ms ease;
  }
  
  #myBtn:hover {
    background-color: #69696969; /* Add a dark-grey background on hover */
  }
  #myBtn img {
      width: 50px;
  }


footer {
    background-color: #ececec3e;
    border-top: 2px solid #000000ab;
    padding: 40px;
}

footer ul {
    display: grid;
    text-align: center;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 1rem;
    list-style: none;
}
footer img {
    max-width: 50px;
}
@media screen and (max-width: 600px) {
    #myBtn {
        right: 10px;
        bottom: 20px;
        padding: 5px;
    }
    #myBtn img {
        width: 40px;   
    }
}
@media screen and (max-width: 400px) {
    nav ul li a {
        font-size : .8rem;
    }
}