<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>
</head>
<body>
    <div id="app-root">
        <div v-for="album in albums" class="album">
            <h2>{{album.title}}</h2>
            <h3>{{album.artist}}</h3>
            <h4>{{album.genre}}</h4>
            <input type="text" v-model="album.title">
            <input type="text" v-model="album.artist">
            <select v-model="album.genre">
                <option v-for="genre in genres">
                    {{genre}}
                </option>
            </select>
            <button @click="removeAlbum(album)">Remove</button>
        </div>
        <button v-if="albums.length < 5" @click="addAlbum">+</button>   
    </div>
</body>
</html>